@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-color: rgb(50, 50, 50);
    font-family: Caladea;
    color: aliceblue;
}

.center {
    text-align: center;
}

.avatar {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

.jumbotron {
    background-color: #0d1228;
    color: #c2f9fc;
}

.modal {
    color: #0b2e13;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}