@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-color: rgb(50, 50, 50);
    font-family: Caladea;
    color: aliceblue;
}

.center {
    text-align: center;
}

.avatar {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}